body {
    background-color: black;
}
#table {
    width: 360px;
    margin: 0 auto;
    display: table;
    background: #fff;
    padding-top: 5px;
}

.hiddenDiv {
   position: relative;
   display: block;
   width: 100%;;
   height: 100%;
   margin: 24px 0 0 0;
   overflow: hidden;
}
.img {
    border: 3px solid white;
    width: 98.5%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-left-color: black;
    border-right-color: black;
}
.shownDiv {
    width: 350px;
    height: 50px;
    overflow: hidden;
    border-bottom:1px dotted #ccc;
    background:#fff;
}
.shownDiv.hovered{
    background-color: #DCDCDC;
    cursor: default;
}
.numDiv {
    float: left;
    width: 40px;
    height: 38px;
    margin: 0 5px 0 0;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #777;
}
.titleDiv {
    font-weight: bold;
    font-size: 13px;
    color: black;
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    height: 15px;
    overflow: hidden;
}
.textDiv {
    display: inline-table;
    width: 250px;
    height: 12px;
    padding: 0 5px 0 0;
    color: #777;
    font-size: 13px;
    overflow: hidden;
}
.date {
    float:right;
    font-size: 11px;
    color: #777;
    font-weight: bold;
    padding-bottom: 5px;
}
.lengthDiv {
    float:right;
    font-size: 11px;
    color: #777;
    font-weight: bold;
    padding-bottom: 5px;
}
.IGN {
    width: 150px;
    height: 30px;
    text-align: center;
    position: absolute;
    display: block;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: red;
    left: 180px;
    padding: 5px;
    margin-top: -190px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.title {
    position: absolute;
    display: inline-block;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 25px/50px;
    color: white;
    left: 0px;
    bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    background: transparent;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#pagination {
    width: 70px;
    height: 15px;
    background: transparent;
    padding: 10px;
    color: #777;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
#backToTop {
    width: 100px;
    height: 15px;
    background: transparent;
    padding: 10px;
    margin-left: 175px;
    color: #777;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.videoButton {
    float: left;
    margin-left: 10px;
    width: 170px;
    height: 5px;
    border-radius: 15px 0 0 15px;
    font-weight: bold;
    border: 1px solid red;
    text-decoration: none;
    padding: 10px;
    line-height: 5px;
    box-sizing: border-box;
    text-align: center;
}
.videoButton.hovered {
    text-decoration: underline;
    cursor: default;
}
.articleButton {
    float: right;
    margin-right: 10px;
    width: 170px;
    height: 5px;
    padding: 10px;
    border-radius:0 15px 15px 0px;
    font-weight: bold;
    border: 1px solid red;
    text-decoration: none;
    line-height: 5px;
    box-sizing: border-box;
    text-align: center;
}
.articleButton.hovered {
    text-decoration: underline;
    cursor: default;
}
